@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#C2BBF0, #8FB8ED);
}

.sky {
    overflow-x: hidden;
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
}

.sky img {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#letter-a {
    height: 40%;
    width: auto;
    bottom: 60%;
    left: 1%;
}

#letter-u {
    height: 40%;
    width: auto;
    bottom: 60%;
    left: 16%;
}

#letter-s {
    height: 40%;
    width: auto;
    bottom: 60%;
    left: 34%;
}

#letter-t {
    height: 40%;
    width: auto;
    bottom: 60%;
    margin-right: 40%;
    left: 52%;
}

#letter-i {
    height: 40%;
    width: auto;
    bottom: 60%;
    left: 70%;
}

#letter-n {
    height: 40%;
    width: auto;
    bottom: 60%;
    left: 80%;
}

#javascript {
    background-color: white;
    border-radius: 12px;
    width: 5%;
    bottom: 30%;
    left: 20%;
}

#react {
    background-color: white;
    border-radius: 12px;
    width: 5%;
    bottom: 30%;
    left: 26%;
}

#python {
    background-color: white;
    border-radius: 12px;
    width: 5%;
    bottom: 30%;
    left: 32%;
}
#css {
    background-color: white;
    border-radius: 12px;
    width: 5%;
    bottom: 30%;
    right: 32%;
}
#django {
    background-color: white;
    border-radius: 12px;
    width: 5%;
    bottom: 30%;
    right: 25%;
}
#github {
    background-color: white;
    border-radius: 12px;
    width: 5%;
    bottom: 30%;
    right: 18%;
}

.about-me {
    height: 600px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.quote {
    margin: 10px 50px 20px
}

h1 {
    color: #F1E3F3;
    font-family: 'Anton', sans-serif;
    font-size: 80px;
}
h3 {
    color: #F1E3F3;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
}

p {
    border: #F1E3F3;
    border-radius: 2px;
}

#blurb {
    color: #F1E3F3;
    font-size: 30px;
    font-family: 'Anton', sans-serif;

}

.resume {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5em 20em;
}

#button {
    background-color: #F1E3F3;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
}

a {
    color: #62BFED;
    text-decoration: none;
}

#austin {
  border-radius: 30px;
  max-width: 50%;
  max-height: 50%;
  width: 25%;
  bottom: 10%; 
}

.projects img {
    max-width: 50%;
    max-height: 50%;
}

.projects button{
    background-color: #F1E3F3;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #F1E3F3;
    color: #62BFED;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
   
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    padding: 20px;
  }